.gatea {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gateb {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gatec {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gated {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gatee {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gatef {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gateg {
    background-color: #fc9700;
    float: right;
    border: 3px solid #ff3f6f;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0em 0em;
}

.gate1 {
    color: #fc9700;
}

.gate2 {
    color: #210422;
}

.gate3 {
    color: #762c79;
}

.gate4 {
    color: #d0ff00;
}

.gate5 {
    color: #ff0000;
}

.gate6 {
    color: #0077ff;
}

.gate7 {
    color: #2600cf;
}